@model IEnumerable<WebApplication.ViewModels.ImageViewModel>

<h3>Results:</h3>

<div class="img-responsive" style="margin-top: 3%">
    @if (!Model.Any())
    {
        <div style="text-align: center;">
            <span style="border:1px solid red;">
                No images found!
            </span>
        </div>
    }
    else
    {
        foreach (var item in Model)
        {
            using (Ajax.BeginForm("Like", "Home", new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = @item.Id.ToString(),
            }))
            {
                <div class="form-group text-center" style="margin-top: 2%">
                    <img src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.Image))" alt="image" 
                         style="width: 40%" />
                    <div id="@item.Id">
                        @{Html.RenderPartial("LikesPartial", item);}
                    </div>
                </div>
            }
        }
    }
</div>